* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.start-screen .headline, .start-screen .headline .contact-info, .recent-works .works, .recent-works .works .pl-categories-container, .recent-works .works .card-works h3, .recent-works .works .card-works p {
  padding-left: 24px;
  padding-right: 24px;
}

.start-screen nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #3c3a39;
  height: 46px;
  width: 100%;
  position: fixed;
}

.start-screen nav .logo {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 24px;
  color: white;
  text-decoration: none;
  margin-left: 24px;
  font-style: normal;
  font-weight: bold;
}

.start-screen nav .menu-btn {
  margin-right: 36px;
  background-color: transparent;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  overflow: hidden;
  outline: none;
}

.start-screen nav .page-links {
  display: none;
}

.start-screen .headline {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 590px;
  background-color: #1c1a19;
  background-image: url(../assets/Illustration.png);
  background-repeat: no-repeat;
  background-position: bottom right;
}

.start-screen .headline h1 {
  font-family: 'Crete Round', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 56px;
  line-height: 64px;
  color: #f55800;
}

.start-screen .headline h2 {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 32px;
  color: #fff5e1;
}

.start-screen .headline p {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: white;
}

.start-screen .headline .contact-info {
  width: 100%;
  margin-top: 24px;
}

.start-screen .headline .contact-info ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  gap: 12px;
}

.recent-works {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.recent-works header h3 {
  font-family: 'Crete Round', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 40px;
  line-height: 52px;
  color: #1c1a19;
  width: 100%;
}

.recent-works hr {
  width: 90%;
  margin-top: 24px;
  margin-bottom: 50px;
  border: solid #212121;
  border-width: 1px 0 0 0;
}

.recent-works .works {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 50px;
  list-style: none;
}

.recent-works .works h3 {
  font-family: 'Crete Round', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 32px;
  line-height: 44px;
  color: #091e42;
}

.recent-works .works p {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: #091e42;
}

.recent-works .works .desc-highligth {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.recent-works .works .pl-categories-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  gap: 12px;
  list-style: none;
}

.recent-works .works .pl-categories-container .pl-block {
  height: 40px;
  padding: 10px 12px;
  border: 1px solid #8993a4;
  background: rgba(255, 255, 255, 0.24);
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
}

.recent-works .works .card-works {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  height: 380px;
  color: white;
  background-image: url(../assets/back-1.png);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
}

.recent-works .works .card-works h3 {
  color: white;
}

.recent-works .works .card-works p {
  color: white;
}

.btn-1 {
  padding: 12px;
  font-size: 17px;
  line-height: 24px;
  font-weight: bold;
  border: none;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  margin-top: 10px;
  -ms-flex-item-align: start;
      align-self: flex-start;
  color: white;
  background-size: 100% 200%;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(50%, #ff6b00), color-stop(50%, #fff5e1));
  background-image: linear-gradient(to bottom, #ff6b00 50%, #fff5e1 50%);
  -webkit-transition: all 0.1s ease-in;
  transition: all 0.1s ease-in;
}

.btn-1:hover {
  color: #f55800;
  background-position: 0 -100%;
  border: 1px solid #f55800;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.btn-1:active {
  background: #e05304;
  color: #ffff;
}

.large-btn {
  font-size: 17px;
  width: 100%;
  height: 40px;
  position: relative;
  bottom: 0;
  text-align: center;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: white;
}

@media only screen and (min-width: 992px) {
  * {
    display: none;
  }
}
/*# sourceMappingURL=main.css.map */