$color_main_orange: #f55800;
$color_dark_orange: #e05304;
$color_main_text: white;
$color_second_text: #f4f5f7;
$color_third_text: #091e42;
$color_fourth_text: #262626;
$color_input_text: #979493;
$color_area_text: #3c3a39;
$color_back1: #1c1a19;
$color_back2: #3c3a39;
$main_title_font: 'Crete Round', sans-serif;

@mixin sectionTitle($size, $height, $color) {
  font-family: 'Crete Round', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: $size;
  line-height: $height;
  color: $color;
}

@mixin flexCenter($direction) {
  display: flex;
  flex-direction: $direction;
  justify-content: center;
  align-items: center;
}
