@import './resets';
@import './variables';
@import './start-screen';

body {
  @include flexCenter(column);

  background-color: $color_main_text;
  // Maby this should be in a different file for mobile breakpoints
  .page-links {
    display: none;
  }
}

@media only screen and (min-width: 992px) {
  * {
    display: none;
  }
}
