body {
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
  background-color: #fff5e1;
}

.cards-container {
  display: grid;
  grid-template-columns: 375px;
  background-color: blue;
  gap: 20px 20px;
  row-gap: 10px;
}

.main-container {
  display: flex;
  width: 375px;
  height: 700px;
  background-color: #1c1a19;
  background-image: url(assets/Illustration.png);
  background-repeat: no-repeat;
  background-position-x: 230px;
  background-position-y: 330px;
}

h1 {
  font-size: 56px;
  color: #ff6b00;
  font-family: 'Crete Round', serif;
  font-style: normal;
  font-weight: 400;
  margin-top: 0;
  margin-bottom: 0;
}

h2 {
  font-size: 24px;
  line-height: 32px;
  color: #fff5e1;
  font-family: 'Roboto', sans-serif;
  margin-top: 0;
  margin-bottom: 0;
}

.headline p {
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  font-style: normal;
  color: white;
  font-family: 'Poppins', sans-serif;
}

nav {
  display: flex;
  justify-content: space-between;
  background: #3c3a39;
  position: fixed;
  width: 375px;
  height: 48px;
  color: #ffff;
  align-items: center;
}

.logo {
  width: 77px;
  height: 24px;
  margin-left: 24px;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 24px;
}

.logo a {
  text-decoration: none;
  color: #ffff;
}

.menu-btn {
  margin-right: 24px;
  background-color: transparent;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  overflow: hidden;
  outline: none;
}

.headline {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 12px 24px;
}

.contact-info {
  display: flex;
}

.contact-info ul {
  padding-left: 5px;
}

.contact-info li {
  display: inline-flex;
  padding-right: 5px;
}

.works-section {
  display: grid;
  grid-template-rows: repeat(4, 700px);
}

.card-works {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
}

.works-title {
  font-family: 'Crete Round', serif;
  font-style: normal;
  font-weight: normal;
  padding-bottom: 40px;
  font-size: 40px;
  line-height: 52px;
  border-bottom: 1px solid #212121;
}

.card-works-presentation {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
}

.card-works-presentation p {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  margin: 0 24px;
}

.card-works-presentation h3 {
  color: #1c1a19;
  font-family: 'Crete Round', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 32px;
  margin: 12px 0;
}
