body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  background-color: #dbd8d7;
}

.card {
  width: 375px;
  clear: left;
}

.btn-1 {
  padding: 12px;
  font-size: 17px;
  line-height: 24px;
  background: #ff6b00;
  font-weight: bold;
  border: none;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  margin-top: 10px;
  align-self: flex-start;
  color: white;
}

.btn-1:hover {
  color: #f55800;
  background: #fff5e1;
  border: 1px solid #f55800;
  box-sizing: border-box;
}

.btn-1:active {
  background: #e05304;
  color: #ffff;
}

.cards-container {
  display: grid;
  grid-template-columns: 375px;
  background-color: white;
  gap: 24px;
}

.start-screen {
  display: flex;
  height: 700px;
  width: 375px;
  background-color: #1c1a19;
  background-image: url(assets/Illustration.png);
  background-repeat: no-repeat;
  background-position-x: 230px;
  background-position-y: 330px;
}

.card-about-me {
  display: flex;
  flex-direction: column;
  height: 500px;
  background-color: #1c1a19;
  background-image: url(assets/illustration-about-me-mobile.png);
  background-repeat: no-repeat;
  background-position-x: 230px;
  background-position-y: 330px;
  padding: 100px 24px 0 24px;
}

.card-about-me::after {
  content: "";
  display: block;
  margin: 0 auto;
  width: 80%;
  padding-top: 180px;
  border-bottom: 1px solid #8993a4;
}

.card-experience {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 1200px;
  background-color: #1c1a19;
  padding-left: 0;
}

p {
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  font-style: normal;
  font-family: 'Poppins', sans-serif;
}

h1 {
  font-size: 56px;
  color: #ff6b00;
  font-family: 'Crete Round', serif;
  font-style: normal;
  font-weight: 400;
  margin-top: 0;
  margin-bottom: 0;
}

h2 {
  font-size: 24px;
  line-height: 32px;
  color: #fff5e1;
  font-family: 'Roboto', sans-serif;
  margin-top: 0;
  margin-bottom: 0;
}

.card-about-me h2 {
  font-family: 'Crete Round', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 72px;
  line-height: 88px;
  color: #ff6b00;
}

h3 {
  font-family: 'Crete Round', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 32px;
}

h4 {
  font-family: 'InaiMathi', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 32px;
  margin: 30px 0;
}

nav {
  display: flex;
  justify-content: space-between;
  background: #3c3a39;
  position: fixed;
  width: 375px;
  height: 48px;
  color: #ffff;
  align-items: center;
}

.logo {
  width: 77px;
  height: 24px;
  margin-left: 24px;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 24px;
}

.logo a {
  text-decoration: none;
  color: #ffff;
}

.menu-btn {
  margin-right: 24px;
  background-color: transparent;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  overflow: hidden;
  outline: none;
}

.headline {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 12px 24px;
}

.contact-info {
  display: flex;
}

.contact-info ul {
  padding-left: 5px;
}

.contact-info li {
  display: inline-flex;
  padding-right: 5px;
}

.works-section {
  display: grid;
}

.works-title {
  font-family: 'Crete Round', serif;
  font-style: normal;
  font-weight: normal;
  padding-bottom: 40px;
  font-size: 40px;
  line-height: 52px;
  border-bottom: 1px solid #212121;
}

.card-presentation {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  margin: 0 24px;
}

.card-presentation p {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  margin: 0;
}

.card-presentation h3 {
  color: #1c1a19;
  font-family: 'Crete Round', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 32px;
  margin: 12px 0;
}

.card-works {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 100px 24px 0 24px;
  background-image: url(assets/back-1.png);
  background-repeat: no-repeat;
  padding: 0 24px 0 24px;
}

.card-works h3 {
  margin: 90px 0 0 0;
}

.card-works p {
  margin: 0 0;
}

.card-contact-me {
  background-color: white;
}

.card-contact-me section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 24px 0 24px;
  height: 700px;
}

.card-contact-me section .btn-1 {
  align-self: center;
}

.card-contact-me h3 {
  text-align: center;
}

.pl-categories-container {
  width: 100%;
  flex-wrap: wrap;
  padding: 12px 0;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 500;
}

.pl-block {
  height: 40px;
  padding: 10px 12px;
  border: 1px solid #8993a4;
  box-sizing: border-box;
  background: rgba(255, 255, 255, 0.24);
  font-size: 15px;
  line-height: 20px;
  float: left;
  margin-right: 12px;
}

.large-btn {
  padding: 0 0;
  margin: 0 0;
  font-size: 17px;
  width: 100%;
  height: 40px;
  text-align: center;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.dark {
  color: white;
}

.figure-1 {
  content: url(assets/fig1.png);
  width: 18px;
  height: 18px;
}

.figure-2 {
  content: url(assets/fig2.png);
  width: 18px;
  height: 18px;
}

.figure-3 {
  content: url(assets/fig3.png);
  width: 18px;
  height: 18px;
}

.skill-list {
  padding-left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  list-style: none;
}

.skill-list li {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  margin: 12px 0;
}

input {
  width: 80%;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: normal;
  color: #979493;
  font-size: 15px;
  outline: 0;
  border-width: 0 0 1px;
  border-color: #dbd8d7;
  padding: 24px;
}

textarea {
  margin-top: 30px;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  width: 100%;
  height: 100px;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 2px none #ccc;
  background-color: #fbf8f7;
  resize: none;
}

.works {
  padding-left: 0;
}

.works li {
  list-style: none;
}

footer .contact-info ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-top: 1px solid #dbd8d7;
  height: 80px;
  width: 100%;
}

@font-face {
  font-family: 'InaiMathi';
  src: url('webfonts/InaiMathi.ttf') format('truetype');
}
