@use "../utils" as *;

.about-me-intro {
  @include flexCenter;

  @include desktopResolution {
    background-image: url(../assets/AboutMe-Large.png);
    background-position: center right;
  }

  height: 700px;
  background-image: url(../assets/illustration-about-me-mobile.png);
  background-repeat: no-repeat;
  position: relative;
  background-position: bottom right;
  background-color: $color_back1;

  .about-me-headline {
    @include flexCenter;
    @include sectionTitle;

    @extend %generalPadding;

    gap: 20px;
  }

  p {
    @include projectParagraph(16px, 24px, $color_second_text);
  }

  hr {
    width: 80%;
    position: absolute;
    bottom: 0;
    border: solid $color_input_text;
    border-width: 1px 0 0 0;
    margin: auto;
  }

  @include desktopResolution {
    @include flexCenter(row);

    justify-content: flex-start;
    align-items: center;
    padding: 0 130px 0 130px;

    .about-me-headline {
      @include flexCenter(column);

      align-items: baseline;
      width: 50%;
    }
  }
}
