@use "../utils"as *;

nav {
  @include flexCenter(row);

  a:hover {
    animation: colorChange 0.5s forwards, textChange 0.5s forwards;
  }

  .mail-icon:hover {
    animation: scaleUp 0.5s forwards;
  }

  justify-content: space-between;
  background-color: $color_back2;
  height: 46px;
  width: 100%;
  position: fixed;
  z-index: 2;

  .logo {
    @include robotoTitle(18px, 24px, $color_main_text);

    text-decoration: none;
    margin-left: 24px;
    font-style: normal;
    font-weight: bold;
  }

  ul {
    li {
      &.on-view {
        text-decoration: white underline 2px;

        a {
          animation: colorChange 0.5s forwards, textChange 0.5s forwards;
        }
      }
    }
  }

  @include colorChangeAnimation("colorChange", $color_main_text, $color_main_orange);
  @include scaleTextUpAnimation("textChange", 14px, 20px);
  @include scaleChangeAnimation("scaleUp", 1, 1.2);
}
