@use "../utils"as *;

nav {
  @include flexCenter(row);

  justify-content: space-between;
  background-color: $color_back2;
  height: 46px;
  width: 100%;
  position: fixed;
  z-index: 2;

  .logo {
    @include robotoTitle(18px, 24px, $color_main_text);

    text-decoration: none;
    margin-left: 24px;
    font-style: normal;
    font-weight: bold;
  }
}
