@use "../utils"as *;

.btn-1 {
  padding: 12px;
  font-size: 17px;
  line-height: 24px;
  font-weight: bold;
  border: none;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  margin-top: 10px;
  align-self: flex-start;
  color: $color_main_text;
  background-color: $color_main_orange;
  transition: all 0.1s ease-in;

  &.disable {
    background-color: #f4f1f0;
    color: $color_back1;
  }
}

.btn-1:hover {
  @include hoverAnimation($color_main_orange);

  &.disable {
    background-color: #f4f1f0;
    color: $color_back1;
  }
}

.btn-1:active {
  background: $color_dark_orange;
  color: $color_main_text;

  &.disable {
    background-color: #f4f1f0;
    color: $color_back1;
  }
}

.large-btn {
  font-size: 17px;
  width: 100%;
  height: 40px;
  position: relative;
  bottom: 0;
  text-align: center;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.page-links {
  display: none;

  @include desktopResolution {
    display: flex;
    list-style: none;
    margin-right: 50px;
    gap: 32px;
  }
}

.page-links a {
  font-family: 'Inter', sans-serif;
  text-decoration: none;
  color: #ffff;
  font-weight: 600;
  font-size: 15px;
  line-height: 20px;
  transition: font-size 0.3s ease-in;
}

.mail-icon {
  background-image: url(../assets/Icon-Mail.png);
  width: 22px;
  height: 20px;
  display: block;
}

.menu-btn {
  margin-right: 36px;
  width: 24px;
  height: 24px;

  .burguer {
    position: absolute;
    background-color: $color_main_text;
    width: 28px;
    height: 3px;
    top: 20px;
    transition: all 1s ease;

    &::before {
      content: "";
      position: absolute;
      top: -8px;
      width: 28px;
      height: 3px;
      background-color: $color_main_text;
      transition: all 1s ease;
    }

    &::after {
      content: "";
      position: absolute;
      top: 8px;
      width: 28px;
      height: 3px;
      background-color: $color_main_text;
      transition: all 1s ease;
    }
  }

  &.show {
    .burguer {
      background: transparent;
      transform: rotate(360deg);

      &::before {
        transform: translate(0, 8px) rotate(45deg);
      }

      &::after {
        transform: translate(0, -8px) rotate(-45deg);
      }
    }
  }

  // should show mobile button on desktop
  @include desktopResolution {
    display: none;
  }
}
